@property --shine-gap {
    syntax: "<length>";
    inherits: true;
    initial-value: 8px;
}

@property --shine-radius {
    syntax: "<length>";
    inherits: true;
    initial-value: 12px;
}

@property --shine-base {
    syntax: "<color>";
    inherits: true;
    initial-value: #201b35;
}

@property --shine-fog {
    syntax: "true | false | no-threads";
    inherits: true;
    initial-value: true;
}

@container style(--shine-base: default) {
    #app-mount {
        --custom-theme-base-color: #201b35;
    }
}

@container style(--shine-fog: false) {
    ._5e434347c823b592-panels::after,
    .f75fb00fb7356cbe-form::after,
    .f75fb00fb7356cbe-chat::after,
    ._133bf5eea8e33a34-container::after,
    .f75fb00fb7356cbe-subtitleContainer::before,
    .f75fb00fb7356cbe-subtitleContainer::after {
        display: none !important;
    }

    ._5e434347c823b592-panels,
    .f75fb00fb7356cbe-form,
    ._133bf5eea8e33a34-container {
        background: linear-gradient(
            to bottom,
            transparent,
            var(--background-base-lowest)
        ) !important;
    }

    .f75fb00fb7356cbe-subtitleContainer {
        background: linear-gradient(
            to top,
            transparent,
            var(--background-base-lowest)
        ) !important;
    }
}

@container style(--shine-fog: no-threads) {
    ._01ae244280823725-chatLayerWrapper {
        ._5e434347c823b592-panels::after,
        .f75fb00fb7356cbe-form::after,
        .f75fb00fb7356cbe-chat::after,
        ._133bf5eea8e33a34-container::after,
        .f75fb00fb7356cbe-subtitleContainer::before,
        .f75fb00fb7356cbe-subtitleContainer::after {
            display: none !important;
        }

        ._5e434347c823b592-panels,
        .f75fb00fb7356cbe-form,
        ._133bf5eea8e33a34-container {
            background: linear-gradient(
                to bottom,
                transparent,
                var(--background-base-lowest)
            ) !important;
        }

        .f75fb00fb7356cbe-subtitleContainer {
            background: linear-gradient(
                to top,
                transparent,
                var(--background-base-lowest)
            ) !important;
        }
    }
}

:root {
    --shine-gap: 8px;
    --shine-radius: 12px;
    --shine-base: default;
    --shine-fog: no-threads;
}

.f37cb1984c371ee5-animatedBannerHoverLayer,
div[style="height: 84px;"][aria-hidden="true"] {
    display: none;
}

.f37cb1984c371ee5-hasBanner.f37cb1984c371ee5-bannerVisible {
    min-height: 130px;
}

:root {
    --custom-app-top-bar-height: 40px;
    --status-danger: #fc3535 !important;
}

.theme-dark {
    --custom-theme-base-color: var(--shine-base, #201b35);
    /* this is to basically trick every variable at once to follow styles becuase who's got time to style alldat */
    --custom-theme-base-color-amount: 100%;
    --custom-theme-text-color: color-mix(
        in oklab,
        var(--custom-theme-base-color),
        white 85%
    );
    --custom-theme-text-color-amount: 100%;
}

.theme-light {
    --custom-theme-base-color: var(--shine-base, #d1caec);
    /* this is to basically trick every variable at once to follow styles becuase who's got time to style alldat */
    --custom-theme-base-color-amount: 100%;
    --custom-theme-text-color: color-mix(
        in oklab,
        var(--custom-theme-base-color),
        rgb(0, 0, 0) 85%
    );
    --custom-theme-text-color-amount: 100%;
}

._5e434347c823b592-panels {
    left: var(--custom-guild-list-width);
    width: calc(100% - var(--custom-guild-list-width));
    bottom: var(--shine-gap, 0px);
    border-radius: 0px;
    border: none;
    background: transparent;
    border-bottom-left-radius: var(--shine-radius);

    &::after {
        display: block;
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.025);
        bottom: 0px;
        width: 100%;
        height: 150%;
        backdrop-filter: blur(18px);
        mask-image: linear-gradient(to bottom, transparent 0%, black 75%);
        border-bottom-left-radius: var(--shine-radius);
        z-index: 0;
        pointer-events: none;
    }

    ._37e49614b9f110a9-container {
        padding: 14px;
    }

    .e131a99484292a19-wrapper {
        z-index: 10;
    }
}

._5e434347c823b592-panels:has(.e131a99484292a19-container)::after {
    mask-image: linear-gradient(to bottom, transparent 0%, black 50%);
}

._99e7cad8d4c55236-scroller {
    margin-bottom: 0px;
    padding-bottom: var(--custom-app-panels-height) !important;
}

._5e434347c823b592-sidebarList {
    background: color-mix(
        in oklab,
        var(--background-surface-high),
        transparent 90%
    );
    margin-bottom: var(--shine-gap, 0px) !important;
    border-radius: var(--shine-radius) 0px 0px var(--shine-radius);
    backdrop-filter: blur(35px) saturate(50%) brightness(122.5%);
    box-shadow:
        0 0 0 1px rgba(0, 0, 0, 0.32),
        0 1.5px 2px 0 rgba(255, 255, 255, 0.1) inset,
        0 2px 4px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

._5e434347c823b592-page {
    padding: 0px var(--shine-gap, 0px) var(--shine-gap, 0px) 0px;

    > div {
        border-radius: 0px var(--shine-radius) var(--shine-radius) 0px;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.05);
        box-shadow:
            0 0 0 1px rgba(0, 0, 0, 0.32),
            0 1.5px 2px 0 rgba(255, 255, 255, 0.1) inset,
            0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }
}

.c38106a3f0c3ca76-winButtons {
    &::before {
        display: none;
    }

    .c38106a3f0c3ca76-winButtonMinMax > svg > rect {
        rx: 1.5px;
        ry: 1.5px;
    }
}

.e6b7699ce8339e1c-privateChannels,
._99e7cad8d4c55236-scroller,
._2637a2609f343032-container,
.f75fb00fb7356cbe-chatContent,
.c8ffbb79449f399c-members,
.c8ffbb79449f399c-container,
.c8ffbb79449f399c-member,
.cdf8a9a2bbd98bd3-wrapper,
.fc817765600a960a-wrapper,
.f369dba7416c67f0-container {
    background: transparent;
}

._9293f6b2fc12398a-container,
.ef3116c2da186559-itemsContainer {
    background: transparent !important;
}

.f75fb00fb7356cbe-channelTextArea {
    border-radius: 26px;
    background: rgba(255, 255, 255, 0.04);
    background-blend-mode: plus-lighter;
    box-shadow:
        0 -0.5px 1px 0 rgba(255, 255, 255, 0.15) inset,
        0 0.5px 1px 0 rgba(255, 255, 255, 0.3) inset,
        0 1px 2px 0 rgba(255, 255, 255, 0.2) inset,
        0 2px 12px 0 rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(8px) brightness(115%) saturate(150%) sepia(20%);
    border: 0px !important;
}

._740174f3d6a2c8fe-themedBackground {
    border-radius: 26px;
    background: transparent !important;

    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
}

.f75fb00fb7356cbe-chatContent {
    justify-content: end;
    justify-items: end;
}

.f75fb00fb7356cbe-form {
    /* left: -8px; */
    padding: 0px 12px;

    &::after {
        display: block;
        content: "";
        position: absolute;
        background: color-mix(
            in oklab,
            var(--background-base-lowest),
            transparent 50%
        );
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 150%;
        backdrop-filter: blur(8px);
        z-index: 0;
        mask-image: linear-gradient(to top, black 20px, transparent);
        pointer-events: none;
    }

    &:not(:has(.b8880176888cc928-typing))::before {
        content: "no one is typing :(";
        font-size: 14px;
        color: var(--interactive-normal);
        height: 14px;
        left: 24px;
        bottom: 5px;
        z-index: 10;
        opacity: 0.5;
        font-weight: 500;
    }
}

.f75fb00fb7356cbe-channelBottomBarArea {
    position: relative;
    z-index: 200;
}

.b8880176888cc928-typing {
    z-index: 200;
}

._36d072eab2b2e737-messagesWrapper {
    position: absolute;
    width: 100%;
    height: 100% !important;
    padding-bottom: 87px;
    box-sizing: border-box;

    ._36d072eab2b2e737-scroller {
        padding-bottom: 87px;
    }
}

.aa63abf63dbd9cce-container > .aa63abf63dbd9cce-buttonContainer > .aa63abf63dbd9cce-button {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0);
    background-image: url(https://blade04208.github.io/shine/src/marble.png) !important;
    background-size: 100%;
    transition: all 0.1s ease;

    &:not(._24af7f4d0326ba4f-disabled) {
        border-radius: 99px;
        background-color: var(--brand-500);
        background-image: url(https://blade04208.github.io/shine/src/marble-active.png) !important;
        background-size: 100%;
        box-shadow: 0px 0px 50px var(--brand-500);
        transition: all 0.1s ease;

        &:hover {
            filter: brightness(110%);
            box-shadow: 0px 0px 50px var(--brand-600);
            scale: 1.1;
        }

        &:active {
            scale: 0.95;
            filter: brightness(80%);
            box-shadow: 0px 0px 50px var(--brand-500);
        }
    }

    .aa63abf63dbd9cce-sendIcon {
        color: white !important;
        scale: 1.1;
    }
}

._740174f3d6a2c8fe-scrollableContainer:has(
    .aa63abf63dbd9cce-container > .aa63abf63dbd9cce-buttonContainer > .aa63abf63dbd9cce-button:hover
) {
    overflow: visible !important;
}

._2637a2609f343032-container {
    padding: 0px;
}

.theme-light ._5e434347c823b592-sidebarList {
    background: var(--background-surface-high);
}

._5e434347c823b592-guilds {
    top: calc(0px - var(--custom-app-top-bar-height));
    margin-bottom: 0px;
    height: calc(100% + var(--custom-app-top-bar-height));
    background: transparent;

    .ef3116c2da186559-itemsContainer > .dbd2630aec71879b-stack {
        padding: calc(var(--shine-gap, 4px) * 3) 0px;
    }
}

._5e434347c823b592-sidebar {
    overflow: visible;
    z-index: 201;

    &::after {
        display: none;
    }
}

.f75fb00fb7356cbe-chat::after,
._133bf5eea8e33a34-container::after {
    position: fixed;
    content: "";
    width: calc(var(--custom-guild-sidebar-width));
    height: calc(
        100vh - var(--custom-app-top-bar-height) - var(--shine-gap, 0px)
    );
    left: var(--custom-guild-list-width);
    background: transparent;
    backdrop-filter: blur(25px) saturate(150%) brightness(125%);
    mask-image: linear-gradient(to left, transparent 70px, black 70px);
    z-index: 5;
    pointer-events: none;
    box-sizing: border-box;
    border-right: var(--custom-guild-list-width) solid rgba(255, 255, 255, 0.1);
}

.f75fb00fb7356cbe-chat {
    overflow: visible;
    contain: none !important;
    z-index: 50;
    margin-left: 2px;
    background: color-mix(
        in srgb,
        var(--custom-theme-text-color),
        transparent 97%
    );
    border-top-right-radius: var(--shine-radius);
}

.theme-light .f75fb00fb7356cbe-chat {
    background: var(--background-base-lowest);
}

.f75fb00fb7356cbe-subtitleContainer,
.f75fb00fb7356cbe-title {
    z-index: unset;
    background: transparent !important;
    border: 0;
}

._5e434347c823b592-page {
    z-index: 200;
    height: calc(100vh - var(--custom-app-top-bar-height)) !important;
    overflow: visible;
}

#app-mount::after {
    content: "";
    position: fixed;
    width: 27px;
    height: 27px;
    bottom: calc(var(--shine-gap, 0px) + 6px);
    right: calc(var(--shine-gap, 0px) + 6px);
    background: url(https://blade04208.github.io/shine/src/grabber.svg)
        no-repeat center center;
    z-index: 9999999;
    -webkit-app-region: drag;
    opacity: 0.75;
}

._37e49614b9f110a9-buttons {
    border-radius: 999px;
    overflow: hidden;
    gap: 0px;
    background: rgba(255, 255, 255, 0.06);
    /* box-shadow: 0 -1.5px 0.4px -1px rgba(255, 255, 255, 0.15) inset, 0 1.5px 0.75px -1px rgba(255, 255, 255, 0.30) inset; */
    box-shadow:
        0 -2px 0.75px -1px rgba(255, 255, 255, 0.15) inset,
        0 1.5px 0.75px -1px rgba(255, 255, 255, 0.3) inset,
        0 2px 12px 0 rgba(0, 0, 0, 0.2);

    ._67645e1530f1195d-button {
        background: rgba(255, 255, 255, 0);
        background: rgba(255, 255, 255, 0.06);
        box-shadow:
            0 -2px 0.75px -1px rgba(255, 255, 255, 0.15) inset,
            0 1.5px 0.75px -1px rgba(255, 255, 255, 0.3) inset;

        margin: 0px;
        border-radius: 0px;
        padding: 2px;
        box-sizing: content-box;
        backdrop-filter: blur(2px);
        width: 34px;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }

        &._67645e1530f1195d-redGlow > ._201d5e8a3c09670a-contents > ._5eb9b3cc7c2b1ce8-lottieIcon {
            --__lottieIconColor: color-mix(
                in oklab,
                var(--status-danger),
                white 25%
            ) !important;
        }
    }
}

.title__85643 {
    .f34534e8a5d3ca64-icon,
    > svg {
        display: none;
    }

    ._4bd5201c86a2042b-defaultColor {
        font-weight: 700;
        opacity: 0.5;
    }
}

._5e434347c823b592-base {
    /* background: #1A1727; */
    box-shadow:
        0 1.5px 1px 0 rgba(255, 255, 255, 0.1) inset,
        0 8px 40px 0 rgba(255, 255, 255, 0.05) inset,
        0 0 0 1px rgba(0, 0, 0, 0.8),
        0 24px 64px 0 rgba(0, 0, 0, 0.6);
}

.c69b6db0641110f6-containerDefault + ._29444ba32c7fbeab-containerDefault {
    overflow: visible !important;

    &::before {
        display: block;
        position: absolute;
        top: 0px;
        content: "";
        width: 100%;
        height: 1px;
        margin: 4px 8px;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        background: rgba(255, 255, 255, 0.08);
        box-shadow: 0 -1px rgb(0, 0, 0, 0.25);
    }
}

a._2ea32c412048f708-link {
    border-radius: 2137px;
}

._2ea32c412048f708-modeSelected > div > ._2ea32c412048f708-link {
    border-radius: 99px;
    background: color-mix(
        in oklab,
        var(--custom-theme-base-color),
        rgba(255, 255, 255, 0.18)
    );
    background-blend-mode: overlay;
}

._9293f6b2fc12398a-upperContainer ._9293f6b2fc12398a-toolbar ._496769951eb140fe-search {
    /* Re-Iconify Search */
    order: 1;

    ._974928fe84ca9647-searchBar {
        /* Make the default state only show an icon that can be clicked. */
        transition: all ease 0.3s;
        width: 25px;
        box-sizing: unset;
        cursor: pointer;
        background: none;
        border: none;
        padding: 0;

        ._974928fe84ca9647-icon {
            height: 32px;
            width: 32px;
            scale: 1.2;
            cursor: pointer;
        }
    }

    ._974928fe84ca9647-focused ._974928fe84ca9647-searchBar,
    ._974928fe84ca9647-open ._974928fe84ca9647-searchBar {
        /* Expand the search bar when focused, and keep it expanded when text is entered. These classes make it really easy, thanks discord! */
        width: 225px;
        box-sizing: border-box;
        cursor: text;
        background: var(--background-gradient-low, var(--input-background));
        border: 1px solid var(--input-border);
        padding: 2px 0;

        ._974928fe84ca9647-icon {
            height: 24px;
            width: 24px;
            scale: 1;
            cursor: pointer;
        }
    }
}

._9293f6b2fc12398a-toolbar {
    border-radius: 99px;
    padding: 2px 6px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow:
        0 2px 12px 0 rgba(0, 0, 0, 0.2),
        0 -1.5px 0.4px -1px rgba(255, 255, 255, 0.15) inset,
        0 1.5px 0.75px -1px rgba(255, 255, 255, 0.3) inset,
        0 2px 12px 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    transition: all 0.3s;
}

.f75fb00fb7356cbe-subtitleContainer {
    z-index: 200;
    position: absolute;
    width: 100%;

    &::after {
        display: block;
        content: "";
        position: absolute;
        background: color-mix(
            in oklab,
            var(--background-surface-high),
            transparent 75%
        );
        top: 0px;
        width: 100%;
        height: 150%;
        backdrop-filter: blur(18px);
        mask-image: linear-gradient(to top, transparent 0%, black 100%);
        z-index: 0;
        pointer-events: none;
    }

    &::before {
        display: block;
        content: "";
        position: absolute;
        background: color-mix(
            in oklab,
            var(--background-surface-high),
            transparent 98.25%
        );
        top: 0px;
        width: 100%;
        height: 150%;
        backdrop-filter: blur(18px);
        mask-image: linear-gradient(to top, transparent 0%, black 100%);
        z-index: 0;
        pointer-events: none;
    }

    .f75fb00fb7356cbe-title {
        z-index: 1;
    }
}

._9293f6b2fc12398a-children::after {
    display: none;
    padding-right: 16px;
}

._740174f3d6a2c8fe-floatingBars:empty + ._740174f3d6a2c8fe-stackedBars:nth-child(2) {
    border-radius: 24px 24px 0px 0px !important;
    background: rgba(0, 0, 0, 0.15);

    ._841c8f861f7b2704-replyBar,
    ._841c8f861f7b2704-threadSuggestionBar {
        background: transparent;
    }
}

.c19a557985eb7793-repliedMessage {
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.08);
    /* background-blend-mode: overlay; */
    backdrop-filter: blur(2px);
    display: inline-flex;
    padding: 4px 8px;
    align-items: center;
    gap: 2px;
    box-sizing: border-box;
    box-shadow:
        0 -0.5px 1px -1px rgba(255, 255, 255, 0.5) inset,
        0 0.5px 1px -1px rgba(255, 255, 255, 1) inset;
    height: 26px;
    max-height: 26px !important;
    max-width: 100%;
}

.c19a557985eb7793-repliedMessageClickableSpine {
    --spine-default: rgba(255, 255, 255, 0.2);
}

._9293f6b2fc12398a-children {
    filter: drop-shadow(0px 0px 5px var(--background-base-low));
}

._0f481cbbd7530492-newMessagesBar {
    position: absolute;
    top: 54px;
    border-radius: 99px;
    z-index: 200;
    box-shadow:
        0 -1.5px 0.4px -1px rgba(255, 255, 255, 0.15) inset,
        0 1.5px 0.75px -1px rgba(255, 255, 255, 0.3) inset;
    background: color-mix(in oklab, var(--brand-500), transparent 25%);
    backdrop-filter: blur(16px);
    width: fit-content;
    flex: 0;
    justify-self: center;
}

._0f481cbbd7530492-jumpToPresentBar {
    position: absolute;
    bottom: 84px;
    border-radius: 99px;
    z-index: 200;
    box-shadow:
        0 -1.5px 0.4px -1px rgba(255, 255, 255, 0.15) inset,
        0 1.5px 0.75px -1px rgba(255, 255, 255, 0.3) inset;
    background: rgba(161, 161, 161, 0.08);
    backdrop-filter: blur(16px);
    width: fit-content;
    flex: 0;
    justify-self: center;

    ._0f481cbbd7530492-barButtonMain {
        min-width: fit-content;
        flex: 0;
    }
}

.f75fb00fb7356cbe-chat:has(.f75fb00fb7356cbe-content .c8ffbb79449f399c-members) .f75fb00fb7356cbe-subtitleContainer {
    width: calc(100% - var(--custom-member-list-width));
}

.f75fb00fb7356cbe-chat:has(.f75fb00fb7356cbe-content .user-profile-sidebar)
    .f75fb00fb7356cbe-subtitleContainer {
    width: calc(100% - 340px);
}

.f75fb00fb7356cbe-chat:has(.f75fb00fb7356cbe-content .a9e7064fdee8e9b0-searchResultsWrap)
    .f75fb00fb7356cbe-subtitleContainer {
    width: calc(100% - 418px);
}

.c8ffbb79449f399c-members {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.dc83f5490ab160ad-chatHeaderBar {
    position: absolute;
    top: 54px;
    border-radius: 99px;
    z-index: 200;
    box-shadow:
        0 -1.5px 0.4px -1px rgba(255, 255, 255, 0.15) inset,
        0 1.5px 0.75px -1px rgba(255, 255, 255, 0.3) inset;
    background: color-mix(in oklab, var(--brand-700), transparent 85%);
    backdrop-filter: blur(16px);
    width: fit-content;
    flex: 0;
    align-self: center !important;
}

._9293f6b2fc12398a-icon,
.vc-toolbox-icon,
._5eb9b3cc7c2b1ce8-lottieIcon,
._24af7f4d0326ba4f-buttonWrapper > svg {
    color: var(--custom-theme-text-color) !important;
    filter: drop-shadow(0 -0.5px 1px 0 rgba(0, 0, 0, 0.12) inset)
        drop-shadow(0 1px 1px 0 rgba(255, 255, 255, 0.48) inset);
}

._6e9f8dce4cc18de3-wrapper {
    border-radius: 50%;

    ._6e9f8dce4cc18de3-childWrapper {
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0) !important;
        background-image: url(https://blade04208.github.io/shine/src/marble.png) !important;
        background-size: 100%;
        transition: all 0.1s ease;
    }

    &._6e9f8dce4cc18de3-selected ._6e9f8dce4cc18de3-childWrapper {
        border-radius: 99px;
        background-color: var(--brand-500);
        background-image: url(https://blade04208.github.io/shine/src/marble-active.png) !important;
        background-size: 100%;
        box-shadow: 0px 0px 50px var(--brand-500);
        transition: all 0.1s ease;
    }
}

._1f388bcaa446c0c8-tutorialContainer .cc5dd25190031396-svg > foreignObject {
    border-radius: 50%;
}

.e5445cbd3ad226f2-blobContainer
    > .cc5dd25190031396-wrapper
    > .cc5dd25190031396-svg
    > foreignObject
    > ._6e9f8dce4cc18de3-wrapper {
    &::before {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 12px;
        z-index: 1;
        background: rgba(255, 255, 255, 0.07);
    }

    ._6e9f8dce4cc18de3-icon {
        z-index: 2;
    }

    &::after {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 12px;
        box-shadow:
            0 0 0 1px rgba(0, 0, 0, 0.4),
            0 1.5px 2px 0 rgba(255, 255, 255, 0.2) inset,
            0 2px 4px 0 rgba(0, 0, 0, 0.1);
        z-index: 20;
        /* background: red; */
    }
}

._133bf5eea8e33a34-inviteToolbar {
    padding: 0px;
}

._133bf5eea8e33a34-tabBody,
._133bf5eea8e33a34-container {
    background: var(--background-surface-high);
}

._23746ba3de9452d8-scroller {
    background: var(--background-surface-highest);
}

.f37cb1984c371ee5-header {
    height: auto;
    /* max-height: 112px; */
}

.f37cb1984c371ee5-headerContent {
    display: flex;
    justify-content: start;
    align-content: end;
    align-items: end;
    gap: 16px;

    .f37cb1984c371ee5-name {
        font-size: 28px;
        order: 0;
        margin-right: 0px;
        flex: 0 1 auto;
        display: inline-block;
        width: min-content;
        max-width: 100%;
        white-space: wrap;
        -webkit-line-clamp: 2;
    }

    ._85d1663d6a9fc7f6-guildIconV2Container {
        display: inline-flex;
        order: 1;
        height: 32px;
        align-items: center;

        > div {
            scale: 1.555555556;
        }
    }

    .f37cb1984c371ee5-headerChildren {
        order: 2;
        margin-left: auto;
        display: flex;
        min-height: 100%;
        align-self: center;
    }
}

.container_eff079 {
    flex-direction: column-reverse;

    .progressBar_eff079::after {
        content: "";
        position: absolute;
        display: block;
        height: 30px;
        width: calc(100% + 6px);
        z-index: 20;
        bottom: 0px;
        left: -6px;
        background-image: url(https://blade04208.github.io/shine/src/boost-glow.svg);
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(3px) saturate(350%);
    }

    .textArea_eff079 {
        margin-top: 4px;
        margin-left: 1px;

        ._4bd5201c86a2042b-lineClamp1,
        .count_eff079 {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 13px;
            color: color-mix(
                in oklab,
                var(--custom-theme-base-color),
                white 35%
            );
        }
    }

    .bar_eff079 {
        box-shadow: 0 -1px 1px 0 rgba(255, 255, 255, 0.2) inset;
    }
}

.f37cb1984c371ee5-headerEllipseBackdrop,
.f37cb1984c371ee5-headerGlass,
.f37cb1984c371ee5-headerEllipseForeground {
    height: 100% !important;
}

._933a166a2ed4d49c-mentionsBadge,
.cc5dd25190031396-lowerBadge {
    ._2b1f52e43a8f1c02-numberBadge {
        border-radius: 99px;
        border: 1px solid #8c1919;
    }
}

._623de82e76ad7f82-embedFull {
    border-radius: calc(var(--shine-radius) * 0.75);
    background: rgba(255, 255, 255, 0.08);
    background-blend-mode: plus-lighter;
    box-shadow:
        0 -0.5px 1px 0 rgba(255, 255, 255, 0.15) inset,
        0 0.5px 1px 0 rgba(255, 255, 255, 0.3) inset,
        0 1px 2px 0 rgba(255, 255, 255, 0.2) inset,
        0 2px 12px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    overflow: hidden;
    border-left-width: 3px;

    &::before {
        top: -1px;
        content: "";
        position: absolute;
        border: inherit;
        border-left-width: 100vw;
        max-width: 100%;
        height: calc(100% + 2px);
        box-sizing: border-box !important;
        opacity: 0.15;
        z-index: 1;
        border-radius: 0px 8px 8px 0px;
        filter: blur(10px);
    }

    ._623de82e76ad7f82-gridContainer {
        z-index: 2;
    }
}

._60fa3b8f3ca9845f-withAccentColor {
    background: color-mix(
        in srgb,
        var(--background-surface-high),
        var(--__accent-color) 10%
    );
}

div:has(> .f369dba7416c67f0-headerRow) {
    height: 160px !important;
    margin-top: 30px;
}

[aria-labelledby="#forum-grid-header-section-1"] {
    top: 184px !important;
}

._2debea61131de3de-info::after {
    width: 100%;
    display: block;
    border-top: 1px solid var(--border-subtle);
    padding-top: 8px;
    margin-top: 8px;
    content: "Shine \A Version 1 \A Made by Blade0 \A Design by Zeealeid \A ✨enjoy✨";
    text-transform: none;
    font-family: var(--font-primary);
    font-size: 12px;
    line-height: 1.4;
    font-weight: 400;
    color: var(--text-muted);
    white-space: pre;
}

.user-profile-sidebar {
    background: transparent;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

._36d072eab2b2e737-scrollerSpacer {
    height: 8px;
}

.f75fb00fb7356cbe-channelBottomBarArea {
    margin-bottom: 16px;
}

.b8880176888cc928-typing {
    /* position: relative; */
    bottom: 0px !important;
    top: unset !important;
}

._37e49614b9f110a9-micButtonParent > button._37e49614b9f110a9-buttonChevron {
    display: none !important;
}

.user-profile-popout,
._9c3bea41fd465666-profile {
    background: color-mix(
        in oklab,
        var(--background-surface-highest),
        white 7.5%
    ) !important;
    box-shadow:
        0 1.5px 1px 0 rgba(255, 255, 255, 0.1) inset,
        0 8px 40px 0 rgba(255, 255, 255, 0.05) inset,
        0 0 0 1px rgba(0, 0, 0, 0.4),
        0 24px 64px 0 rgba(0, 0, 0, 0.2),
        0 0 0 1px rgba(0, 0, 0, 0.4),
        0 1.5px 2px 0 rgba(255, 255, 255, 0.2) inset,
        0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border-radius: var(--shine-radius);
}

.de800837163648e8-bannerButton,
.f8fa068db52f043f-actionButton,
.banner_fb7f94.button_fb7f94 {
    background: rgba(161, 161, 161, 0.1) !important;
    box-shadow:
        0 2px 12px 0 rgba(0, 0, 0, 0.2),
        0 -1.5px 0.4px -1px rgba(255, 255, 255, 0.15) inset,
        0 1.5px 0.75px -1px rgba(255, 255, 255, 0.3) inset,
        0 2px 12px 0 rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(8px);
    transition: all 0.5s ease;

    svg {
        filter: drop-shadow(0px 2px 4px black);
    }

    &:hover {
        filter: brightness(110%);
        background: rgba(161, 161, 161, 0.1) !important;
    }
}

.banner_fb7f94.button_fb7f94 {
    align-items: center;
    border: 1px solid var(--opacity-white-8);
    border-radius: 50% !important;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    display: flex;
    height: var(--custom-button-button-sm-height);
    justify-content: center;
    transition: background 50ms ease-in;
    width: var(--custom-button-button-sm-height);
}

.buttonInner_fb7f94 {
    overflow: visible !important;
}

.f8fa068db52f043f-actionButton {
    padding: 0px 1px;
}

._740174f3d6a2c8fe-inlineContainer {
    border-radius: 26px;
    background: rgba(255, 255, 255, 0.04);
    background-blend-mode: plus-lighter;
    box-shadow:
        0 -0.5px 1px 0 rgba(255, 255, 255, 0.15) inset,
        0 0.5px 1px 0 rgba(255, 255, 255, 0.3) inset,
        0 1px 2px 0 rgba(255, 255, 255, 0.2) inset,
        0 2px 12px 0 rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(8px) brightness(115%) saturate(150%) sepia(20%);
    border: 0px !important;

    ._740174f3d6a2c8fe-inner {
        margin-right: 8px;
    }
}

.dfa8b6b94cddb191-role {
    border-radius: 20px;
    padding: 4px 6px 4px 1px;
    height: auto;
    box-shadow:
        0 -0.5px 1px 0 rgba(255, 255, 255, 0.15) inset,
        0 0.5px 1px 0 rgba(255, 255, 255, 0.3) inset,
        0 1px 2px 0 rgba(255, 255, 255, 0.2) inset !important;

    ._4f569b8941af22d1-roleCircle::after {
        content: "";
        position: absolute;
        background-color: inherit;
        height: 24px;
        width: 24px;
        mask-image:
            linear-gradient(to right, black 0%, transparent 100%),
            radial-gradient(transparent 100%, black 101%);
        border-radius: 20px 0px 0px 20px;
        opacity: 0.2;
    }
}

.a22cb0c66246f5d3-button,
._201d5e8a3c09670a-button:not(
    ._67645e1530f1195d-button,
    ._2d263e93fa75ef4c-volumeButton,
    .cf09d85aafe7e124-videoButton,
    .banner_fb7f94
),
._133bf5eea8e33a34-item {
    box-shadow:
        0 -0.5px 1px 0 rgba(255, 255, 255, 0.15) inset,
        0 0.5px 1px 0 rgba(255, 255, 255, 0.3) inset,
        0 1px 2px 0 rgba(255, 255, 255, 0.2) inset !important;
    border-radius: 13px;
    border: 0 !important;
    transition: filter 0.3s ease;
    &.a22cb0c66246f5d3-primary,
    &._201d5e8a3c09670a-colorBrand,
    &._133bf5eea8e33a34-addFriend {
        background: color-mix(
            in srgb,
            var(--control-background-primary-default),
            transparent 20%
        ) !important;
    }

    &.a22cb0c66246f5d3-critical-secondary {
        background: color-mix(
            in srgb,
            var(--control-background-critical-primary-default),
            transparent 90%
        );
    }

    &.a22cb0c66246f5d3-critical-primary {
        background: color-mix(
            in srgb,
            var(--control-background-critical-primary-default),
            transparent 20%
        );
    }
    &:hover {
        filter: brightness(120%);
    }
}

._133bf5eea8e33a34-item {
    border-radius: 20px !important;
    background: rgba(255, 255, 255, 0.05);
}

._5bc7ed9d4097f6b5-circleIconButton {
    box-shadow:
        0 0 0 1px rgba(0, 0, 0, 0.4),
        0 1.5px 2px 0 rgba(255, 255, 255, 0.2) inset,
        0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.c1e9c47c23f12ca3-menu,
._084343c4f11eaaab-contentWrapper,
.fc561d3c125f6a2f-container,
._8a031a135bfcb9ba-container {
    background: color-mix(
        in oklab,
        var(--background-surface-highest),
        white 5%
    ) !important;
    box-shadow:
        0 1.5px 1px 0 rgba(255, 255, 255, 0.1) inset,
        0 8px 40px 0 rgba(255, 255, 255, 0.05) inset,
        0 0 0 1px rgba(0, 0, 0, 0.4),
        0 24px 64px 0 rgba(0, 0, 0, 0.2),
        0 0 0 1px rgba(0, 0, 0, 0.4),
        0 1.5px 2px 0 rgba(255, 255, 255, 0.2) inset,
        0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border-radius: var(--shine-radius);
}

.ab66419eae73260f-header,
.e8b59c4b335dd2fc-messagesPopoutWrap,
._35a7ecf3aba351b2-channelHeader {
    background: transparent;
}

._44df51b030bd5ece-wrapper {
    background: transparent;
    border: 0px;
    z-index: 10;
}

.c0e32c5cffed3d9f-bodyWrapper,
._4106ae7c1472c1de-wrapper,
.aeaaeb2a573807f0-inspector,
.fed6d32841cc2da2-content,
._8ef02eea17068b73-listWrapper {
    background: rgba(0, 0, 0, 0.2);
}

._14245bb948377a25-wrapper {
    background: transparent;
    backdrop-filter: blur(90px);
}

.b9ee0c229bc0b6bb-unicodeShortcut,
._3ad28b0867fa3fad-standardStickerShortcut {
    border-radius: 26px;
    background: rgba(0, 0, 0, 0.2);
    background-blend-mode: plus-lighter;
    box-shadow:
        0 -0.5px 1px 0 rgba(255, 255, 255, 0.15) inset,
        0 0.5px 1px 0 rgba(255, 255, 255, 0.3) inset,
        0 1px 2px 0 rgba(255, 255, 255, 0.2) inset,
        0 2px 12px 0 rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(8px) brightness(115%) saturate(150%) sepia(20%);
    border: 0px !important;
    position: absolute;
    padding: 10px;
    height: auto;
    width: auto;
    margin: 4px;

    svg {
        color: white;
    }
}

.fed6d32841cc2da2-container,
.fed6d32841cc2da2-header,
._8ef02eea17068b73-header {
    background: transparent;
    border: 0;
}
